<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h1 class="display-4">Authentication in Ruby on Rails</h1>
        <p> In this tutorial will explain how develop an authentication system from scratch</p>
        <hr class="my-4">
        <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
</div>


